{% extends "layouts/base.html" %}

{% block meta %}
<!-- Primary Meta Tags -->
<meta name="title" content="Morten Vistisen - Ramblings about Tech and making Internet Money">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://mortenvistisen.com/">
<meta property="og:title" content="Morten Vistisen - Ramblings about Tech and making Internet Money">
<meta property="og:description" content="Software engineer trying to escape 9-to-5 by creating businesses online, sharing what I learn along the way. Mostly write about Rust, Go and ML.">
<meta property="og:image" content="https://mortenvistisen.com/static/images/mig_selv-removebg-preview.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://mortenvistisen.com/">
<meta property="twitter:title" content="Morten Vistisen - Ramblings about Tech and making Internet Money">
<meta property="twitter:description" content="Software engineer trying to escape 9-to-5 by creating businesses online, sharing what I learn along the way. Mostly write about Rust, Go and ML.">
<meta property="twitter:image" content="https://mortenvistisen.com/static/images/mig_selv-removebg-preview.png">

<link rel="canonical" href="https://mortenvistisen.com/">
{% endblock meta %}

{% block title %}Morten Vistisen | Ramblings about Tech and making Internet Money{% endblock title %}

{% block content %}
<div class="lg:hidden hero bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-4xl font-bold">Hej, I'm Morten!</h1>
      <p class="py-6 text-neutral-focus text-justify">
        I write about my ventures into tech and bootstrapping, sharing what I learn along the way.
        You'll find stuff about building web apps using Rust as well as meditations on the process of building 
        businesses on the internet.
      </p>
      <a class="btn btn-primary text-white"
        href="posts/one-month-one-dollar-part-two">Latest Post</a> 
    </div>
  </div>
</div>
<div class="hidden lg:flex hero bg-base-100">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/static/images/mig_selv-removebg-preview.png" class="max-w-xs" alt="image of MBvisti" />
    <div>
      <p class="text-4xl font-bold">Hej, I'm Morten!</p>
      <p class="py-6 text-neutral-focus text-justify tracking-tight text-lg">
        I write about my ventures into tech and bootstrapping, sharing what I learn along the way.
        You'll find stuff about building web apps using Rust as well as meditations on the process of building 
        businesses on the internet.
      </p>
      <a class="btn btn-primary umami--click--socials-twitter"
        href="posts/wantrepreneurship-and-getting-out-of-tutorial-hell">Latest Post</a> 
    </div>
  </div>
</div>
<div class="w-full h-full px-4 md:px-6 text-gray-800 leading-normal">
    {% include 'components/_socials.html' %}
    {% for fm in posts %}
    <a href="/posts/{{fm.file_name}}">
        <div class="flex bg-neutral-content border rounded flex-col m-5 mb-10 px-4 py-6 cursor-pointer">
            <h2 class="text-2xl text-neutral-focus font-semibold hover:underline">{{fm.title}}</h2>
            <div class="flex items-center mt-2">
                <p class="hidden md:block text-neutral mr-2">{{fm.posted}}</p>
                <p class="hidden md:block text-neutral mx-2">{{fm.author}}</p>
                <p class="text-neutral ml-0 md:ml-2">Reading time:
                {{fm.estimated_reading_time}} min</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}

{% block footer %}
<footer class="container footer footer-center min-w-[100vw] py-10 bg-base-200 text-base-content rounded">
    <div>
      <p>Copyright © 2023 - MBV Software</p>
    </div>
</footer>
{% endblock footer %}
