package dashboard

import "github.com/MBvisti/mortenvistisen/views/internal/layouts"

templ Index() {
	@layouts.Dashboard() {
	<div class="container border border-white w-full mx-auto">
		<div class="row">
			<div class="col-md-12">
				<h1>Dashboard</h1>
			</div>
		</div>
	</div>
	}
}
