<!DOCTYPE html>
<html data-theme="lofi" lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Morten Vistisen's blog about software,
    technology and startups. Mainly focused on Go and Rust">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard | Morten Vistisen</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
</head>

<body hx-ext="loading-states" class="sm:overflow-x-hidden bg-base-100 flex flex-col overflow-x-hidden 
        min-h-screen font-sans leading-normal tracking-normal h-full">
    <div class="min-h-full">
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <p class="text-white">mortenvistisen</p>
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a href="#"
                                    class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium">Home</a>

                                <a href="/posts"
                                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Posts</a>
                                <a href="/account"
                                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <button class="text-white border rounded p-1 bg-gray-900">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <header class="bg-white shadow">
            <div class="mx-auto max-w-7xl py-3 px-4 sm:px-6 lg:px-8">
                <h1 class="text-2xl font-bold tracking-tight text-gray-900">Home</h1>
            </div>
        </header>
        <main>
            <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
                {% block content %}{% endblock content %}
            </div>
        </main>
    </div>

</body>

<script src="/static/htmx/htmx.min.js"></script>
<script src="/static/htmx/loading-states.min.js"></script>

</html>
