package views

import "github.com/mbvisti/mortenvistisen/views/internal/layouts"
import "github.com/mbvisti/mortenvistisen/router/routes"

templ AboutPage() {
	@layouts.Base(WithSlug(routes.AboutPage.Path)) {
		<main class="container mx-auto my-auto">About</main>
	}
}
