package views

import "github.com/MBvisti/mortenvistisen/views/internal/layouts"

templ ProjectsPage(head Head) {
	@layouts.Base(head.Build()) {
		<main id="content" role="main" class="my-auto">
			<div class="text-center py-5 px-4 sm:px-6 md:px-32 2xl:px-56">
				<h1 class="block text-2xl font-bold text-white sm:text-4xl">Projects</h1>
			</div>
		</main>
	}
}
