{% extends "base.html" %}

{% block title %}Something went wrong | Morten Vistisen{% endblock title %}

{% block content %}
<div class="w-full mt-32 px-4 md:mt-52 lg:mt-64 flex flex-col md:items-center">
    <h1 class="text-2xl mb-1">Something went horrible wrong on my end, sorry.</h1>
    <p>If this keep happening, please shoot me a message at this
        <a class="umami--click--500-error underline font-bold" href="mailto:hi@mortenvistisen.com?subject=hi"
            target="_blank">email</a>
    </p>
    <p class="mt-8">To go back to safety, click <a class="underline" href="/">here</a></p>
</div>
{% endblock content %}
