.article-grid {
	--padding-inline: 2rem;
	--content-max-width: 35ch;
	--breakout-max-width: 45ch;

	@media (min-width: 768px) {
		--content-max-width: 70ch;
		--breakout-max-width: 85ch;
	}

	--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
	display: grid;
	grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
		var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.article-grid> :not(.breakout, .full-width),
.full-width> :not(.breakout, .full-width) {
	grid-column: content;
}


.article-grid>* {
	line-height: var(--font-lineheight-2);
	margin-top: var(--size-1);
	margin-bottom: var(--size-1);

	@media (min-width: 768px) {
		grid-column: content;
		line-height: var(--font-lineheight-4);
	}
}

.article-grid>p:has(code) {
	word-wrap: break-word
}

.article-grid>ul {
	color: var(--color-base-content);
}

@media (max-width: 768px) {
	.article-grid>h1 {
		font-size: var(--font-size-6);
	}
}

.article-grid>.breakout {
	grid-column: breakout;
}

.article-grid>.full-width {
	grid-column: full-width;
}

.article-grid>p {
	font-size: var(--font-size-3);
}

.article-grid>.article-img {
	grid-column: full-width !important;

	@media (min-width: 1400px) {
		grid-column: breakout !important;
	}

	height: 35rem;
	width: 100%;
}

.article-grid>pre {
	padding-top: var(--size-2);
	padding-bottom: var(--size-2);
	min-width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	grid-column: breakout !important;
}

.article-grid>figure {
	padding-top: var(--size-2);
	padding-bottom: var(--size-2);
	min-width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	grid-column: breakout !important;
	color: var(--color-base-content);
}

.article-grid>p>a {
	color: var(--color-accent);
}

.article-grid>ul {
	color: var(--color-base-content);

	>li {
		color: var(--color-base-content);
	}

	>li>a {
		color: var(--color-accent);
	}
}

.article-cta {
	background-color: var(--color-base-300);
}
