.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;

	margin-top: var(--size-7);
	margin-bottom: var(--size-7);

	a {
		color: var(--color-secondary);
	}
}

.footer>div {
	display: flex;
	justify-content: space-around;

	:nth-child(2) {
		margin-left: var(--size-2);
		margin-right: var(--size-2);
	}
}
