.main--grow {
	flex: 1;
}

.hero {
	margin: auto;


	@media (min-width: var(--size-md)) {
		width: var(--size-md);
	}

	& p {
		max-inline-size: var(--size-md);
	}
}

.hero--cta {
	margin-top: var(--size-2);
	color: var(--color-primary);
	display: flex;

	& svg {
		margin-right: var(--size-2);
	}
}
