:root {
	/* --color-base-100: oklch(20.51% 0.003 300.00); */
	/* --color-base-200: oklch(15.51% 0.003 300.00); */
	/* --color-base-300: oklch(10.51% 0.003 300.00); */
	/**/
	/* --color-base-content: oklch(80.51% 0.010 147.37); */
	/**/
	/* --color-primary: oklch(67.76% 0.038 213.41); */
	/* --color-primary-content: oklch(10.51% 0.003 300.00); */
	/**/
	/* --color-secondary: oklch(63.94% 0.060 320.91); */
	/* --color-secondary-content: oklch(10.51% 0.003 300.00); */
	/**/
	/* --color-accent: oklch(72.95% 0.082 77.96); */
	/* --color-accent-content: oklch(10.51% 0.003 300.00); */
	/**/
	/* --color-neutral: oklch(77.95% 0.075 84.44); */
	/* --color-neutral-content: oklch(10.51% 0.003 300.00); */
	/**/
	/* --color-info: oklch(71.76% 0.078 213.41); */
	/* --color-info-content: oklch(10.51% 0.003 300.00); */
	/**/
	/* --color-success: oklch(62.76% 0.048 113.41); */
	/* --color-success-content: oklch(10.51% 0.003 300.00); */
	/**/
	/* --color-warning: oklch(82.76% 0.098 77.96); */
	/* --color-warning-content: oklch(10.51% 0.003 300.00); */
	/**/
	/* --color-error: oklch(58.76% 0.108 23.41); */
	/* --color-error-content: oklch(10.51% 0.003 300.00); */

	--color-base-100: oklch(30.857% 0.023 264.149);
	--color-base-200: oklch(28.036% 0.019 264.182);
	--color-base-300: oklch(26.346% 0.018 262.177);
	
	--color-base-content: oklch(82.901% 0.031 222.959);
	
	--color-primary: oklch(86.133% 0.141 139.549);
	--color-primary-content: oklch(17.226% 0.028 139.549);
	
	--color-secondary: oklch(73.375% 0.165 35.353);
	--color-secondary-content: oklch(14.675% 0.033 35.353);
	
	--color-accent: oklch(74.229% 0.133 311.379);
	--color-accent-content: oklch(14.845% 0.026 311.379);
	
	--color-neutral: oklch(24.731% 0.02 264.094);
	--color-neutral-content: oklch(82.901% 0.031 222.959);
	
	--color-info: oklch(86.078% 0.142 206.182);
	--color-info-content: oklch(17.215% 0.028 206.182);
	
	--color-success: oklch(86.171% 0.142 166.534);
	--color-success-content: oklch(17.234% 0.028 166.534);
	
	--color-warning: oklch(86.163% 0.142 94.818);
	--color-warning-content: oklch(17.232% 0.028 94.818);
	
	--color-error: oklch(82.418% 0.099 33.756);
	--color-error-content: oklch(16.483% 0.019 33.756);
}
