.toast-container {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	gap: var(--size-5);
	z-index: 100;

	@media (min-width: 768px) {
		margin-right: 1%;
	}
}

.toast-base {
	display: flex;
	flex-direction: column;
	background-color: var(--color-base-300);
	max-width: var(--size-14);

	border: 1px solid var(--color-base-content);
	border-radius: var(--radius-2);
	z-index: 200;
}

.toast-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	border-bottom: 1px solid var(--color-base-content);
	padding: var(--size-2);

	span {
		display: flex;
		justify-content: space-between;
		margin-left: var(--size-8);
	}

	button {
		margin-left: var(--size-5);
		background-color: var(--color-base-300);
	}

	svg {
		width: var(--size-3);
		height: var(--size-3);
		fill: var(--color-base-content);
	}
}

.flash-type {
	width: var(--size-3);
	height: var(--size-3);
	border-radius: var(--radius-2);

	&.flash-success {
		background-color: var(--color-success);
	}

	&.flash-info {
		background-color: var(--color-info);
	}

	&.flash-error {
		background-color: var(--color-error);
	}

	&.flash-warning {
		background-color: var(--color-warning);
	}
}

.flash-body {
	padding: var(--size-2);
	color: var(--color-base-content);
	max-height: var(--size-11);
	overflow-y: auto;
}
