<div class="flex flex-col w-full border-opacity-50 mb-10 mt-6">
    <div class="divider text-lg text-base-content/80 font-semibold">Socials</div>
    <div class="flex justify-center items-center w-full">
        <div class="flex h-10 justify-around text-xs items-center">
            <a class="umami--click--socials-twitter badge badge-primary p-3 mr-4  hover:border-primary-focus hover:bg-primary-focus  hover:shadow-xl"
                href="https://twitter.com/mbvisti">Twitter</a>
            <a class="umami--click--socials-linkedin badge badge-primary p-3 mr-4  hover:border-primary-focus hover:bg-primary-focus hover:shadow-xl"
                href="https://www.linkedin.com/in/mortenvistisen">LinkedIn</a>
            <a class="umami--click--socials-github badge badge-primary p-3 mr-4  hover:border-primary-focus hover:bg-primary-focus hover:shadow-xl"
                href="https://github.com/mbvisti">GitHub</a>
            <a class="umami--click--socials-email badge badge-primary p-3 mr-4 hover:border-primary-focus hover:bg-primary-focus hover:shadow-xl"
                href="mailto:hi@mortenvistisen.com?subject=hi" target="_blank">Email</a>
        </div>
    </div>
</div>
</div>
