<!DOCTYPE html>
<html class="dark" data-theme="dracula" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Morten Vistisen's blog about software,
    technology and startups. Mainly focused on Go and Rust">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
<script type="text/javascript" src="/static/js/toggleTheme.js"></script>
<script>
    window.onload=setTheme();
</script>
</head>

<body
    class="sm:overflow-x-hidden bg-base-100 flex flex-col overflow-x-hidden justify-between min-h-screen font-sans leading-normal tracking-normal">
    <div class="h-16 max-w-screen flex items-center justify-center mb-4">
        {% block header %}{% endblock header %}
        <!-- <div class="form-control w-64"> -->
        <!--     <label class="label cursor-pointer"> -->
        <!--         <span data-light-theme class="label-text text-base-content invisible">Light mode</span> -->
        <!--         <input data-theme-selector onchange="changeTheme(this)" type="checkbox" class="toggle toggle-primary" checked /> -->
        <!--         <span data-dark-theme class="label-text text-primary">Dark mode</span> -->
        <!--     </label> -->
        <!-- </div> -->
        <!-- <div></div> -->
    </div>

    <main class="container flex-1 w-full md:max-w-3xl mx-auto overflow-x-hidden">
        {% block content %}{% endblock content %}
    </main>
    {% block footer %}
    <footer class="footer footer-center mt-4 p-8 bg-base-100 text-base-content rounded">
        <div>
            <p>Copyright © 2022 - All right reserved by MBV Software</p>
        </div>
    </footer>
    {% endblock footer %}
</body>

<script type="text/javascript" src="/static/js/highlight.min.js"></script>
<script>setThemeAfterLoad();</script>
<script type="text/javascript">hljs.highlightAll();</script>
<script async defer data-website-id="af32754d-52cb-49c9-8c6d-82b838c642f6"
    src="https://analytics.mortenvistisen.com/umami.js" data-domains="mortenvistisen.com" data-do-not-track="true">
    </script>

</html>
