{% extends "base.html" %}

{% block title %}
Morten Vistisen | Email confirmation
{% endblock title %}

{% block header %}
<div class="absolute left-4">
    <a class="relative text-primary hover:underline hover:text-primary-focus" href="/">Go back</a>
</div>
{% endblock header %}

{% block content %}
<div class="hero mt-32">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-3xl font-bold mb-10">
                {% if meta_data.has_error %}
                Oh no, something went wrong...
                {% else %}
                You're all good!
                {% endif %}
            </h1>
            {% if meta_data.has_error %}
            <p class="text-justify">{{ meta_data.error_msg }}</p>
            {% else %}
            <p class="text-justify">You're registered and will receive updates every time I release a new post.
                Should you ever want to stop receive these emails, you can always find a link
                at the bottom of any email send to have your email wiped from our system.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
