<!DOCTYPE html>
<html data-theme="lofi" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Morten Vistisen's blog about software,
    technology and startups. Mainly focused on Go and Rust">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard | Morten Vistisen</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
</head>

<body hx-ext="loading-states"
    class="sm:overflow-x-hidden bg-base-100 flex flex-col overflow-x-hidden 
        min-h-screen font-sans leading-normal tracking-normal">
    <div class="h-16 max-w-screen flex items-center justify-center">
        <h1>MBV admin</h1>
    </div>

    <main class="container flex-1 w-full md:max-w-3xl mx-auto overflow-x-hidden">
        {% block content %}{% endblock content %}
    </main>
</body>

<script src="/static/htmx/htmx.min.js"></script>
<script src="/static/htmx/loading-states.min.js"></script>
</html>
