{% extends "dashboard_base.html" %}

{% block content %}
<div class="max-w-full py-6">
    <div class="sm:flex sm:space-x-4">
        <div class="inline-block align-bottom bg-gray-700 rounded-lg text-left overflow-hidden shadow transform transition-all mb-4 w-1/3 sm:my-8">
            <div class="bg-gray-700 p-5">
                <div class="sm:flex sm:items-start">
                    <div class="flex flex-col w-full items-center text-center">
                        <h3 class="text-sm leading-6 font-medium text-white">Total subscribers</h3>
                        <p class="text-3xl font-bold text-white">7</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="inline-block align-bottom bg-gray-700 rounded-lg text-left overflow-hidden shadow transform transition-all mb-4 w-1/3 sm:my-8">
            <div class="bg-gray-700 p-5">
                <div class="sm:flex sm:items-start">
                    <div class="flex flex-col w-full items-center text-center">
                        <h3 class="text-sm leading-6 font-medium text-white">Avg. open rate</h3>
                        <p class="text-3xl font-bold text-white">24.57%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="inline-block align-bottom bg-gray-700 rounded-lg text-left overflow-hidden shadow transform transition-all mb-4 w-1/3 sm:my-8">
            <div class="bg-gray-700 p-5">
                <div class="sm:flex sm:items-start">
                    <div class="flex flex-col w-full items-center text-center">
                        <h3 class="text-sm leading-6 font-medium text-white">Avg. Click Rate</h3>
                        <p class="text-3xl font-bold text-white">24.57%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container px-4 mx-auto">
    <div class="mt-6 md:flex md:items-center md:justify-between">
        <div class="inline-flex overflow-hidden border divide-x rounded-lg divide-gray-500 bg-gray-700">
            <button class="px-5 py-3 text-sm font-medium text-white">
                All
            </button>
            <button class="px-5 py-3 text-sm font-medium text-white">
                Posted
            </button>
            <button class="px-5 py-3 text-sm font-medium text-white">
                Draft
            </button>
        </div>

        <div class="inline-flex overflow-hidden border divide-x rounded-lg divide-gray-500 bg-gray-700">
            <button class="px-5 py-3 text-sm font-medium text-white">
                New post
            </button>
        </div>
    </div>

    <div class="flex flex-col mt-6">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border border-gray-700 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-800">
                            <tr>
                                <th scope="col" class="text-white font-semibold py-3.5 px-4 text-sm text-left min-w-[32rem] max-w-[32rem]">
                                    Title
                                </th>
                                <th scope="col" class="text-white font-semibold py-3.5 px-4 text-sm text-left">
                                    Status
                                </th>
                                <th scope="col" class="text-white font-semibold py-3.5 px-4 text-sm text-left">
                                    Views
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-gray-700">
                            <tr>
                                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap min-w-[32rem] max-w-[32rem]">
                                    <div class="inline py-1 text-sm font-normal text-white">
                                        One Month One Dollar - Part Two
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                    <div class="inline py-1 text-sm font-normal text-emerald-500 gap-x-2 bg-gray-700">
                                        Posted
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                    <div class="inline py-1 text-sm font-normal text-white">
                                        100
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 sm:flex sm:items-center sm:justify-between ">
        <div class="text-sm text-white bg-gray-700 p-3 rounded">
            Page <span class="font-medium">1 of 1</span> 
        </div>

        <div class="flex items-center gap-x-4 mt-5">
            <a href="#" class="flex items-center justify-center px-5 py-3 text-sm text-white capitalize transition-colors duration-200  bg-gray-700 border rounded-md w-auto gap-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                </svg>
                <span>
                    previous
                </span>
            </a>

            <a href="#" class="flex items-center justify-center px-5 py-3 text-sm text-white capitalize transition-colors duration-200  bg-gray-700 border rounded-md w-auto gap-x-2">
                <span>
                    Next
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                </svg>
            </a>
        </div>
    </div>
</section>
{% endblock content %}
