{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<main class="flex flex-col items-center mt-20 w-full">
    <h1 class="text-2xl">Exploring Software & Technology</h1>
    <h3 class="mt-2 text-gray-600">A collection of my personal ramblings about tech, software and startups</h3>
    <div class="flex flex-col items-center w-48 mb-20">
        <p class="font-medium mt-4 mb-1">Socials</p>
        <div class="flex justify-between w-full">
        <a class="underline text-blue-500"
            href="https://twitter.com/mbvisti">Twitter</a> |
        <a class="underline text-blue-500"
            href="https://www.linkedin.com/in/mortenvistisen">LinkedIn</a> |
        <a class="underline text-blue-500"
            href="https://github.com/mbvisti">GitHub</a>
        </div>
    </div>
    {% for fm in posts %}
    <a class="mb-5" href="/posts">
        <div class="shadow flex flex-col border border-slate-700 rounded px-4 py-6 cursor-pointer">
            <h2 class="text-xl font-medium">{{fm.title}}</h2>
            <div class="flex items-center mt-2">
                <p class="text-sm mr-2">{{fm.posted}}</p> |
                <p class="text-sm mx-2">{{fm.author}}</p> |
                <p class="text-sm ml-2">Reading time:
                {{fm.estimated_reading_time}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</main>
{% endblock content %}
