{% extends "base.html" %}
{% block title %}Personal blog | by Morten Vistisen{% endblock title %}

{% block content %}
<div class="hero bg-base-100">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/static/images/mig_selv-removebg-preview.png" class="max-w-xs rounded-lg" alt="image of MBvisti" />
    <div>
      <h1 class="text-4xl font-bold">Hej, I'm Morten!</h1>
      <p class="py-6">
        I'm a software engineer specialized in Rust, Go and Data Science. 
        I write about my ventures into tech and bootstrapping, sharing what I learn in a simple and practical way.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
<div class="w-full h-full px-4 md:px-6 text-gray-800 leading-normal">
    <div class="flex flex-col w-full border-opacity-50 mb-10 mt-6">
        <div class="divider text-lg text-base-content/80 font-semibold font-normal">Socials</div>
            <div class="flex justify-center items-center w-full">
                <div class="flex h-10 justify-around text-xs items-center">
                    <a class="umami--click--socials-twitter badge badge-accent badge-outline mr-2 hover:border-accent hover:bg-accent hover:text-accent-content"
                        href="https://twitter.com/mbvisti">Twitter</a> 
                    <a class="umami--click--socials-linkedin badge badge-accent badge-outline mr-2 hover:border-accent hover:bg-accent hover:text-accent-content"
                        href="https://www.linkedin.com/in/mortenvistisen">LinkedIn</a> 
                    <a class="umami--click--socials-github badge badge-accent badge-outline mr-2 hover:border-accent hover:bg-accent hover:text-accent-content"
                        href="https://github.com/mbvisti">GitHub</a> 
                    <a class="umami--click--socials-email badge badge-accent badge-outline mr-2 hover:border-accent hover:bg-accent hover:text-accent-content"
                        href="mailto:hi@mortenvistisen.com?subject=hi" target="_blank">Email</a>
                </div>
            </div>
        </div>
    </div>
    
    {% for fm in posts %}
    <a href="/posts/{{fm.file_name}}">
        <div class="flex bg-neutral/60 rounded flex-col m-5 mb-10 px-4 py-6 cursor-pointer">
            <h2 class="text-2xl text-neutral-content font-semibold hover:underline">{{fm.title}}</h2>
            <div class="flex items-center mt-2">
                <p class="hidden md:block text-neutral-content/70 mr-2">{{fm.posted}}</p>
                <p class="hidden md:block text-neutral-content/70 mx-2">{{fm.author}}</p>
                <p class="text-neutral-content/70 ml-0 md:ml-2">Reading time:
                {{fm.estimated_reading_time}} min</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}
