{% extends "base.html" %}

{% block title %}{{ meta_data.title }} | by {{ meta_data.author }} {% endblock title %}

{% block header %}
<div class="absolute left-2">
    <a class="relative underline" href="/">Go back</a>
</div>
{% endblock header %}

{% block content %}
    <article 
        id="article-content"
        class="prose lg:prose-xl mb-6 h-full w-full px-4 md:px-6 leading-normal"
    >
    <h1>{{ meta_data.title }}</h1>
    <div class="flex flex-col w-full border-opacity-50 mb-10 mt-6">
        <div class="divider text-lg text-base-content/80 font-semibold font-normal">Socials</div>
            <div class="flex justify-center items-center w-full">
                <div class="flex h-10 justify-around text-xs items-center">
                    <a class="umami--click--socials-twitter-post-{{ meta_data.order }} badge badge-accent badge-outline mr-2 hover:border-accent hover:bg-accent hover:text-accent-content"
                        href="https://twitter.com/mbvisti">Twitter</a> 
                    <a class="umami--click--socials-linkedin-post-{{ meta_data.order }} badge badge-accent badge-outline mr-2 hover:border-accent hover:bg-accent hover:text-accent-content"
                        href="https://www.linkedin.com/in/mortenvistisen">LinkedIn</a> 
                    <a class="umami--click--socials-github-post-{{ meta_data.order }} badge badge-accent badge-outline mr-2 hover:border-accent hover:bg-accent hover:text-accent-content"
                        href="https://github.com/mbvisti">GitHub</a> 
                    <a class="umami--click--socials-email-post-{{ meta_data.order }} badge badge-accent badge-outline mr-2 hover:border-accent hover:bg-accent hover:text-accent-content"
                        href="mailto:hi@mortenvistisen.com?subject=hi" target="_blank">Email</a>
                </div>
            </div>
        </div>
    </div>
        {{ post | safe }}
    </article>

  <div class="divider"></div> 

{% endblock content %}

{% block footer %}
<footer class="container footer footer-center py-10 mx-auto bg-base-200 text-base-content rounded">
    <div class="form-control">
        <div class="relative">
            <span class="footer-title">Get notified when a new post is released!</span> 
        </div>
    </div>
    <div class="form-control w-96">
        <div class="relative">
          <input type="text" placeholder="username@site.com" class="input input-bordered w-full pr-20 md:pr-32" /> 
          <button class="btn btn-primary absolute top-0 right-0 rounded-l-none umami--click--newsletter-post-{{ meta_data.order }}">Subscribe</button>
        </div>
    </div> 
  <div>
    <p>Copyright © 2022 - MBV Software</p>
  </div>
</footer>{% endblock footer %}
