{% extends "base.html" %}

{% block meta %}
    <meta property="og:title" content="{{ meta_data.title }}">
    <meta property="og:description" content="{{ meta_data.description }}">
    <meta property="og:image" content="https://mortenvistisen.com/static/images/{{ meta_data.thumbnail }}">
    <meta property="og:url" content="https://mortenvistisen.com/posts/{{ meta_data.title | lower | slugify }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MBvisti">
    <meta name="twitter:creator" content="@MBvisti">
    <meta name="twitter:title" content="{{ meta_data.title }}">
    <meta name="twitter:description" content="{{ meta_data.description }}">
    <meta name="twitter:image" content="https://mortenvistisen.com/static/images/{{ meta_data.thumbnail }}">
{% endblock meta %}

{% block title %}
    {{ meta_data.title }} | by {{ meta_data.author }} 
{% endblock title %}

{% block header %}
<div class="absolute left-4">
    <a class="relative text-primary hover:underline hover:text-primary-focus" href="/">Go back</a>
</div>
{% endblock header %}

{% block content %}
    <article 
        id="article-content"
        class="text-justify prose lg:prose-xl mb-6 px-4 md:px-6 h-full w-full leading-normal"
    >
    <h1>{{ meta_data.title }}</h1>
        {% include '_socials.html'%}
        {{ post | safe }}
    </article>

  <div class="divider"></div> 

{% endblock content %}

{% block footer %}
<footer class="container footer footer-center min-w-[100vw] py-10 bg-base-200 text-base-content rounded">
    <div class="form-control">
        <div class="relative flex flex-col">
            <span class="footer-title">Get notified about new posts</span> 
            <span class="px-16">No spam, no selling your email, unsub (i.e delete your email from my system) anytime.</span>
        </div>
    </div>
    <div class="form-control min-w-fit">
        {% include '_subscribe_form.html' %}
    </div> 
  <div>
    <p>Copyright © 2023 - MBV Software</p>
  </div>
</footer>
{% endblock footer %}
