package components

templ DashboardHeader(heading, context string) {
	<div class="flex justify-between items-center mb-6 pb-3">
		<h1 class="text-base-content text-xl font-semibold m-0">{ heading }</h1>
		<div class="text-base-content text-sm">
			{ context }
		</div>
	</div>
}
