package components

import "fmt"

templ StatNumberCard(title string, stat int64) {
	<div class="stat-card">
		<h3 class="stat-number">{ fmt.Sprintf("%d", stat) }</h3>
		<p class="stat-label">{ title }</p>
	</div>
}

templ Stats(cards []templ.Component) {
	<div class="stat-grid">
		for _, card := range cards {
			@card
		}
	</div>
}
