{% extends "layouts/base.html" %}

{% block title %}
Morten Vistisen | Email confirmation
{% endblock title %}

{% block header %}
<div class="absolute left-4">
    <a class="relative text-primary hover:underline hover:text-primary-focus" href="/">Go back</a>
</div>
{% endblock header %}

{% block content %}
<div class="hero mt-32 lg:mt-64">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-3xl lg:text-5xl font-bold mb-10">
                {% if meta_data.has_error %}
                    {% if meta_data.title %}
                        {{ meta_data.title }}
                    {% else %}
                        Oh no, something went wrong.
                    {% endif %}
                {% else %}
                Sad to see you go.
                {% endif %}
            </h1>
            {% if meta_data.has_error %}
            <p class="text-justify lg:text-xl">
                I'm sorry this didn't go smoothly and will look into it immediately. In the meantime, could you send me 
                and email at: hi@mortenvistisen.com and tell me what email to delete and I will take care of it. Once
                again super sorry about this!
            </p>
            {% else %}
            <p class="text-justify lg:text-xl">I'm sad to see you go but no hard feelings, your email have been deleted.
            You're always welcome to subscribe once more.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
