name: Build, push and deploy

on: [push, pull_request]
#on:
#  push:
#    branches: [master]

jobs:
  # build_and_push:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check Out Repo 
  #       uses: actions/checkout@v2
  #     - name: Setup doctl
  #       uses: digitalocean/action-doctl@v2
  #       with:
  #         token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
  #     - name: Set up Docker Builder
  #       uses: docker/setup-buildx-action@v1
  #     - name: Authenticate with DigitalOcean Container Registry
  #       run: doctl registry login --expiry-seconds 1500
  #     - name: Build and Push to DigitalOcean Container Registry
  #       uses: docker/build-push-action@v2
  #       with:
  #         context: .
  #         push: true
  #         tags: |
  #           registry.digitalocean.com/mortenvistisen/mortenvistisen_blog:sha-${{ github.sha }}
  #           registry.digitalocean.com/mortenvistisen/mortenvistisen_blog:latest
      # - name: Remove old images
      #   run: if [ ! -z "$(doctl registry list | grep "$(echo $IMAGE_NAME)")"]; then doctl registry repository delete 
  
  deploy:
    name: Deploy to prod
    runs-on: ubuntu-latest
    # needs: build_and_push

    steps:
      - name: SSH and run 
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          # key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            docker login -u ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }} -p ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }} registry.digitalocean.com 

            docker pull registry.digitalocean.com/mortenvistisen/mortenvistisen_blog:latest

            docker stop mortenvistisen_blog

            docker rm mortenvistisen_blog

            docker run -d -p 8080:8080 \
            --restart always \
            --name mortenvistisen_blog \
            registry.digitalocean.com/mortenvistisen/mortenvistisen_blog:latest

            sleep 30 

            curl --silent --fail http://localhost:8080/status
