name: Build, push and deploy

# on:
#   push:
#     branches: [master]

on: [pull_request]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v2
      - name: Setup doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Set up Docker Builder
        uses: docker/setup-buildx-action@v1
      - name: Authenticate with DigitalOcean Container Registry
        run: doctl registry login --expiry-seconds 1500
      - name: Build and Push to DigitalOcean Container Registry
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            registry.digitalocean.com/mortenvistisen/mortenvistisen_blog:latest
            # registry.digitalocean.com/mortenvistisen/mortenvistisen_blog:sha-${{ github.sha }}

  # build_and_push:
  #   name: Build and push
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: checkout repo
  #       uses: actions/checkout@v2

  #     - name: Install doctl
  #       uses: digitalocean/action-doctl@v2
  #       with:
  #         token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      
  #     - name: Build image
  #       run: docker build -t $(echo $REGISTRY)/$(echo $IMAGE_NAME):$(echo $GITHUB_SHA) .

  #     - name: Upload image DO container registry
  #       run: |
  #         doctl registry login --expiry-seconds 600
  #         docker push $(echo $REGISTRY)/$(echo $IMAGE_NAME):$(echo $GITHUB_SHA)

      # - name: Remove old images
      #   run: if [ ! -z "$(doctl registry list | grep "$(echo $IMAGE_NAME)")"]; then doctl registry repository delete 
  deploy:
    name: Deploy to prod
    runs-on: ubuntu-latest
    # needs: build_and_push

    steps:
      - name: SSH and run 
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          # password: ${{ secrets.PASSWORD }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            docker login -u ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }} -p ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }} registry.digitalocean.com 
            # docker pull $(echo $REGISTRY)/$(echo $IMAGE_NAME):$(echo $GITHUB_SHA)
            # # docker stop $(echo $IMAGE_NAME)
            # # docker rm $(echo $IMAGE_NAME)
            # docker run -d -p 8080:8080 \
            # --restart always \
            # --name $(echo $IMAGE_NAME)
            # $(echo $REGISTRY)/$(echo $IMAGE_NAME):$(echo $GITHUB_SHA)
