name: Build, push and deploy

# on:
#   push:
#     branches: [master]

on: [pull_request]

env:
  REGISTRY: "registry.digitalocean.com/mortenvistisen"
  IMAGE_NAME: "mortenvistisen_blog"

jobs:
  # build_and_push:
  #   name: Build and push
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: checkout repo
  #       uses: actions/checkout@v2

  #     - name: Install doctl
  #       uses: digitalocean/action-doctl@v2
  #       with:
  #         token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      
  #     - name: Build image
  #       run: docker build -t $(echo $REGISTRY)/$(echo $IMAGE_NAME):$(echo $GITHUB_SHA) .

  #     - name: Upload image DO container registry
  #       run: |
  #         doctl registry login --expiry-seconds 600
  #         docker push $(echo $REGISTRY)/$(echo $IMAGE_NAME):$(echo $GITHUB_SHA)

      # - name: Remove old images
      #   run: if [ ! -z "$(doctl registry list | grep "$(echo $IMAGE_NAME)")"]; then doctl registry repository delete 
    # uses: fifsky/ssh-action@master
  # with:
    # command: |
    #   cd /tmp
    #   ls -a
    # host: ${{ secrets.HOST }}
    # user: root
    # key: ${{ secrets.PRIVATE_KEY}}

  deploy:
    name: Deploy to prod
    runs-on: ubuntu-latest
    # needs: build_and_push

    steps:
      - name: SSH and run 
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          # password: ${{ secrets.PASSWORD }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            docker login -u ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }} -p ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }} registry.digitalocean.com 
            docker stop $(echo $IMAGE_NAME)
            docker rm $(echo $IMAGE_NAME)
            docker run -d \
            --restart always \
            --name $(echo $IMAGE_NAME)
            $(echo $REGISTRY)/$(echo $IMAGE_NAME):$(echo $GITHUB_SHA)
