name: Build Docker images
 
on:
  push:
    # branches: ["master"]
    branches: ["feat/rewrite-with-latest-grafto"]
 
jobs:
  build-and-push-dockerfile-image:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
 
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Log in to DigitalOcean Container Registry
        run: doctl registry login
 
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          build-args: |
            appRelease=${{ github.sha }}
          tags: |
            registry.digitalocean.com/the-lab/mbv-blog:latest
            registry.digitalocean.com/the-lab/mbv-blog:${{ github.sha }}
          platforms: linux/amd64   
