name: Integration Tests

on:
  push:
    branches:
      - 'master'

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: run
        run: just test-integrations
