name: Unit Tests

on:
  push:
    branches:
      - '**'
      - '!master'

  pull_request:
    types:
      - reopened
    branches:
      - '**'
      - '!master'

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: run
        run: just test-units
